<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>calender_money</title>
  <script src="/assets/js/Chart.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
  <body>

    <div class="container">
      <div class="main">
        <form class="form-inline" action="/create" method="post">
          <div class="form-group">
            <label for="date">日時</label>
            <input type="date" class="form-control" name="date" value="2015-07-01">
          </div>
          <div class="form-group">
            <label for="title">商品名</label>
            <input type="text" class="form-control" name="title" id="title">
          </div>
          <div class="form-group">
            <label for="price">金額</label>
            <input type="text" class="form-control" name="price" id="price">
          </div>
          <select name="category" class="form-control" id="category">
            <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
          <input type="submit" class="btn btn-default" value="追加">
        </form>
        <div class="graph">
          <canvas id="graph" height="400" width="400"></canvas>
        </div>
        <script>

        colors = ['#F44336', '#448AFF', '#FF9800', '#009688', '#E91E63', '#00BCD4'];

        var doughnutData = [
          <% @items.each_with_index do |item, idx| %>
          {
            value: <%= item.price %>,
            label: '<%= item.title %>',
            color: colors[<%= idx %>]
          },
          <% end %>
        ];

        var myDoughnut = new Chart(document.getElementById("graph").getContext("2d")).Doughnut(doughnutData);
        </script>

      <table class="table table-hover">
        <tr>
          <th></th>
          <% @categories.each do |category| %>
          <th><a href="/category/<%= category.id %>"><%= category.name %></a></th>
          <% end %>
          <th></th>
          <th></th>
          <!-- <th>収入</th>
          <th>食事</th>
          <th>服</th>
          <th>ゲーム</th>
          <th>交通費</th>
          <th>その他</th> -->
        </tr>
        <% @items.each do |item| %>
        <tr>
          <th><%= item.paid_at %></th>
          <td>
            <% if item.category_id == 1 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <% if item.category_id == 2 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <% if item.category_id == 3 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <% if item.category_id == 4 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <% if item.category_id == 5 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <% if item.category_id == 6 %>
              <%= item.title + " " + item.price.to_s %>
            <% end %>
          </td>
          <td>
            <span>
              <form action="/delete/<%= item.id %>" method="post">
                <input type="submit" class="btn btn-default" value="削除">
              </form>
            </span>
          </td>
          <td>
            <span>
              <form action="/edit/<%= item.id %>" method="post">
                <input type="submit"  class="btn btn-default"value="編集">
              </form>
            </span>
          </td>
        </tr>
        <% end %>
      </table>

      <% if @category_name.present? %>
      <h2><%= @category_name %></h2>
      <% end %>

      <div>
        <p>合計:<%= @total %>円</p>
      </div>
    </div>
  </div>

</body>
</html>
